* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  background: rgb(240,213,178);
}

.Maincointainer{
  display: flex;
  flex-direction: row;
}

.footer{
  background: rgb(198,148,82);
  background: linear-gradient(90deg, rgba(198,148,82,1) 0%, rgba(138,73,0,1) 83%);
  width: 50px;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.socialmediacontainer{
  display: flex;
  flex-direction: row;
  gap:5px

}

.socialmediacontainer img{
  background-color: white;
  border-radius: 50%;
  width: 35px;
  gap:20px;
}

.socialmediacontainer img:hover{
  transform: scale(1.2);
}

.header{
  background: rgb(198,148,82);
  background: linear-gradient(90deg, rgba(198,148,82,1) 0%, rgba(138,73,0,1) 83%);
  height: 100vh;
  width: 200px;
  gap:50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right:100px;
}

.header nav{
  display: flex;
  flex-direction: column;
  gap:10px;

}

.logo {
  width: 400px;

  place-self: center;

}

.anchor{
  border-radius: 3px;
  padding: 5px;
  width:100px;
  text-align: center;
  background-color: #140901;
  color:white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;

}
.anchor:hover{
  background-color: #977e6b;
  color:#140901;
}





.acctitle{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:bold;
  font-size: medium;
}

.accbalance{
  font-size: xx-large;
  text-align: right;
  font-family: 'Courier New', Courier, monospace;
  margin-right: 0px;
  font-style: oblique;
}

.componentcontainer{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap:50px;
}

.clientcardcontainer{
  margin-top: 10px;
  height: 220px;
  width: 400px;
  display: flex;
  flex-direction: row;
  gap:50px;
  place-content: center;
  
}
.rcs-inner-handle {
  background-color: #140901;

}
/*
   _____              _     
  / ____|            | |    
 | |     __ _ _ __ __| |___ 
 | |    / _` | '__/ _` / __|
 | |___| (_| | | | (_| \__ \
  \_____\__,_|_|  \__,_|___/
                            
*/

.clientcard{
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgb(198,148,82);
  background: linear-gradient(90deg, rgba(198,148,82,1) 0%, rgba(138,73,0,1) 83%);
  padding: 50px;
  width:350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  place-content: center;
  gap:20px;
  border-radius: 10px;
  color: white;
  transition: transform 150ms ease-out 100ms

}
/*
.clientcard:hover{
  transform: scale(1.2);

}*/


.cdcardscontainer{
  height:220px;
  width: 400px;
  display: flex;
  flex-direction: column;
  place-items: center;
}
.cdcardcontainer{
  width: 350px;
  height: 200px;
  background-color: #977e6b;
  border-radius: 10px;
  background-image: url('../src/assets/debitcard.png');
  background-size:cover;
  color: white;
  font-style: bold;
  transition: transform 150ms ease-out 100ms
}

/*
.cdcardcontainer:hover{
  transform: scale(1.2);
}*/

.cardnumber{
  margin-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
}

.cardtop{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cardtitle{
  margin-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size:large;
}


.datasection{
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap:7px;
}

.loancardscontainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.loancardcontainer{
  display: flex;
  flex-direction: row;
  background-color: #977e6b;
  width: 700px;
  justify-content: space-around;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  background-image: url('../src/assets/debitcard.png');
  color: white;
  font-style: bold;
}

.Form{
  width: 450px;
  background-color: #977e6b;

}

.Formfield{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
}

.welcome{
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: xx-large;
  margin-bottom: 50px;
}

.actionbutton{
  background: rgb(198,148,82);
  background: linear-gradient(90deg, rgba(198,148,82,1) 0%, rgba(138,73,0,1) 83%);

  display: flex;
  width: 100px;
  height: 100px;
  flex-direction: column;
  place-content: center;
  text-align: center;
  text-decoration: none;
  color:rgb(255, 255, 255);
  border-radius: 10px;
  font-family: 'roboto';
}

.actionbutton img{
  width: 50px;
  place-self: center;
}


.actionbutton:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: 1;
}

@keyframes shake {
  0% { transform: translate(0px, 2px); }
  50% { transform: translate(0px, -2px); }
  100% { transform: translate(0px, 0px); }

}


.actioncontainer{
 width: 500px;
 gap:10px;
 display: flex;
 flex-wrap: wrap;
}

.mainlayoutgrid{
  display: flex;
  flex-direction: row;
  gap: 350px;
  margin-top: 50px;
}

.carousel .slide{
  width:200px;
  height:700px;
}

.titles{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.leftpanel{
  width: 500px;
}


/*Account details*/



.accountdetails{
  height: 35vh;
  width: 700px;
}

.accountinfo{
  height:  35vh;
  width: 100%;
  overflow: hidden;
  text-align: start;
}

.accountinfo tr{
  width: 40%;
  text-align: center;
}

.DEBIT{
  background-color: rgb(152, 183, 240,70%);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  color: black;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  
}

.CREDIT .SILVER{
  background-color: rgb(170, 170, 170,70%);
  height: 200px;
  border-radius: 10px;
  color: black;
  font-weight: 700;
}


.CREDIT .GOLD{
  background-color: rgb(250, 189, 23,70%);
  height: 200px;
  border-radius: 10px;
  color: black;
  font-weight: 700;
}

.CREDIT .TITANIUM{
  background-color: rgb(253, 143, 143,80%);
  height: 200px;
  border-radius: 10px;
  color: black;
  font-weight: 700;
}




/* FONTS */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

